<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headersfiles">
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	
    <h1>Upload Document</h1>
    <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
     <h2>Get File by ID</h2>
    <form method="post" th:action="@{/getFile}">
        <input type="text" name="fileId" placeholder="Enter File ID" />
        <button type="submit">Get File</button>
    </form>
    
     <div th:if="${filePath}">
            <div th:if="${filePath.endsWith('.jpg') || filePath.endsWith('.jpeg') || filePath.endsWith('.png')}">
                <img th:src="@{'/uploads/' + ${fileDetail.fileName}}" th:alt="Image" height="150px" width="150px">
            </div>
            <div th:if="${filePath.endsWith('.pdf')}">
                <embed th:src="@{'/uploads/' + ${fileDetail.fileName}}" width="800" height="800" type="application/pdf"></embed>
            </div>
      </div>
      
      
      
</body>
</body>
</html>